services:
  app:
    build: .
    container_name: fastapi-app
    restart: unless-stopped
    depends_on:
      - redis
      - mongodb
    ports:
      - "8000:8000"
    environment:
      MONGO_URL: mongodb://admin:password@mongodb:27017/
      REDIS_HOST: redis
      REDIS_PORT: 6379
    volumes:
      - .:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  redis:
    image: redis:latest
    container_name: redis-container
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mongodb:
    image: mongo:latest
    container_name: mongodb-container
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

volumes:
  redis_data:
  mongo_data: